/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    padding-bottom: 3rem;
    color: #5a5a5a;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    margin-bottom: 0rem;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
    height: 22rem;
    background-color: #777;
}

.carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 22rem;
}

.carousel-indicators {
    top: 1.5rem;
    right: 1.5rem;
    bottom: auto;
    left: auto;
    width: 1rem;
    margin-left: 0;
}

.carousel-indicators > li {
    margin-bottom: .25rem;
}

.carousel-inner > div:nth-child(1) {
    background: url("../images/restaurant-header-1.jpg") no-repeat;
    background-size: cover;
}

.carousel-inner > div:nth-child(2) {
    background: url("../images/restaurant-header-2.jpg") no-repeat;
    background-size: cover;
}

.carousel-inner > div:nth-child(3) {
    background: url("../images/restaurant-header-3.jpg") no-repeat;
    background-size: cover;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.marketing h2 {
    font-weight: normal;
}

.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}

/* Featurettes
------------------------- */

.featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }

}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}

@media (min-width: 100em) {
    /* Declare heights because of positioning of img element */
    .carousel-item {
        height: 25rem;
        min-width: 100%;
    }

    .carousel-item > img {
        height: 25rem;
        min-width: 100%;
    }
}

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

a:hover,
a:focus {
    color: #18bc9c;
    text-decoration: underline;
}

a:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.form-control {
    display: block;
    width: 100%;
    height: 45px;
    padding: 10px 15px;
    font-size: 15px;
    line-height: 1.42857143;
    color: #2c3e50;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #dce4ec;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control,
input {
    border-width: 2px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-control:focus,
input:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-control:focus {
    border-color: #8b8a92;
    outline: 0;
}

.form-control::-moz-placeholder {
    color: #acb6c0;
    opacity: 1;
}

.form-control:-ms-input-placeholder {
    color: #acb6c0;
}

.form-control::-webkit-input-placeholder {
    color: #acb6c0;
}

.form-control::-ms-expand {
    border: 0;
    background-color: transparent;
}

.container-search {
    background: #efefef;
    padding-top: 0.7em;
}