<header class="navbar navbar-light navbar-static-top bd-navbar">
    <div class="container">
        <nav>
            <div class="clearfix">
                <button class="navbar-toggler float-xs-right hidden-md-up" type="button" data-toggle="collapse"
                        data-target="#bd-main-nav" aria-controls="bd-main-nav" aria-expanded="false"
                        aria-label="Toggle navigation"></button>
                <a class="navbar-brand hidden-md-up" href="/">
                    <img src="images/logo.svg" width="30" height="30" class="d-inline-block align-top"
                         alt="Restaurant Review">
                    Restaurant Review
                </a>
            </div>
            <div class="collapse navbar-toggleable-sm" id="bd-main-nav">
                <a class="navbar-brand hidden-sm-down" href="/">
                    <img src="images/logo.svg" width="30" height="30" class="d-inline-block align-top"
                         alt="Restaurant Review">
                    Restaurant Review
                </a>
                <ul class="nav navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About Us</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>